@import 'reset.css';
@import 'fonts.css';


html{

	font-size: 0.75vw;
}

body{

	font-family: 'Space Mono', monospace;
	line-height: 1.35rem;
	padding: 2rem;
	letter-spacing: 1px;
	background-color: #f3f3f3;

	a:hover{

		color: blue;
	}


	header{

		position: fixed;

		h1{

			margin: 0 0 1.5rem 0;

			span:nth-of-type(2){
				display: block;
				margin: 0 0 0 1.4rem;

			}
		}

		>ul{

			margin: 0 0 1.5rem 0;
		}


		nav{

			a{

				display: block;
			}

			.subprojects{

				margin: 0 0 0 3rem;
			}
		}
	}

	main{

		padding: 0 0 0 calc(100% / 6);


		#txt{

			font-family: 'baskervville';
			font-size: 2.25vw;
			line-height: 3.5rem;
			padding-right: 40px;
			margin-bottom: 300px;
			p:nth-of-type(1){
				margin-bottom: 2rem;
			}
			p + p + p{
				text-indent: 5rem;
			}
			h1{
				font-family: 'baskervvilleItalic';
				margin-top: 2rem;
			}


		}

		.project,
		.subproject{

			display: flex;
			flex-wrap: wrap;
			width: 100%;
			padding: 2rem 0 2rem 0;
			margin: 0 0 6rem 0;

			.slider{

				width: calc(100% / 4 * 3);
			}


			.legende{

				width: calc(100% / 4);
				padding: 0 0 0 2rem;

				h2{

					text-transform: uppercase;

					span{
						font-size: 1rem;
						text-transform: initial;
					}
				}

				h2, ul{

					font-size: 1.5rem;
					line-height: 2rem;
				}

				ul{

					margin: 0 0 2rem 2rem;

				}

				.year{

					margin: 0 0 0 2rem;

				}

				>a:last-of-type, p{

					margin: 0 0 1.5rem 0;
				}



				>a{

					display: block;
				}

			}

			.legende.title{

				margin: 0 0 2rem calc(100% / 4 * 3);

			}

			img{

				display: block;
				margin: 0 auto 0 auto;
				image-orientation: from-image;
			}

			img{

				max-height: 85vh;
				max-width: 100%;
			}

			img.visible{

				-webkit-transition: opacity 1s;
				transition: opacity 1s;
				opacity: 1;
			}

			img.hidden{

				opacity: 0;
				display: none;
			}

			.slider{

				padding: 0 2rem 0 0;
			}

			.multiple{

				img:hover{

					cursor: e-resize;
				}
			}

			.counter{

				.prev:hover,
				.next:hover{

					color: blue;
					cursor: pointer;
				}
			}
		}
	}

}

@media only screen and (max-width: 1200px) {

	html{

		font-size: 10px;
	}

}

@media print{

	body{
		background-color: white;
	}


		body main .project,
		body main .subproject{
			display: inline;
			page-break-after: page;
		}
}
